.header {
  margin: 45px auto;
  max-width: 880px;
  width: 100%;
  height: 74px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
}
.logo {
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 680px;
  }
  .logo {
    max-width: 149px;
    height: 29px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    height: 56px;
  }
  .logo {
    width: 126px;
    height: 24px;
  }
}
