.add-popup {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.add-popup_opened {
  display: flex;
}
.add-popup__close {
  text-align: right;
  align-self: flex-end;
  width: 40px;
  margin-bottom: 15px;
  cursor: pointer;
}
.add-popup__block {
  border-radius: 10px;
  max-width: 430px;
  max-height: 430px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
}
.add-popup__title {
  color: black;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  max-width: 358px;
  margin: 34px auto 54px;
}

@media screen and (max-width: 660px) {
  .add-popup {
    max-width: 282px;
  }
  .add-popup__close {
    width: 26px;
    margin-bottom: 13px;
  }
  .add-popup__title {
    align-self: flex-start;
    color: black;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    max-width: 238px;
    margin-top: 25px;
    margin-bottom: 76px;
  }
  .add-popup__form {
    max-width: 238px;
  }
  .add-popup__input {
    margin-bottom: 30px;
  }

  .add-popup__submit {
    max-width: 238px;
    height: 46px;
    margin-top: 16px;
    margin-bottom: 25px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 17px;
  }
}
